main{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1{
        text-align: center;
    }

    #search_filter_container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        #search_container{
            height: 40px;
            width: 80%;
            max-width: 300px;
            border: 1px solid var(--secondary-color);
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: var(--primary-color);
            display: flex;
            gap: 10px;

            #search{
                width: 100%;
                height: 38px;
                border: none;
                background-color: var(--primary-color);
                
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }

            #search_icon{
                width: 22px;
                height: 22px;
            }
        }
        
        #filter{
            background-color: var(--primary-color);
            border: 2px solid var(--secondary-color);
            padding: 8px 16px;
            border-radius: 8px;
            transition: all .2s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: var(--cta-color);
                color: var(--primary-color);
                border-color: var(--interaction-light-color);
            }
        }
    }
}