*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary-color);
    font-family: var(--paragraphe-font);
}

h1,h2,h3,h4{
    font-family: var(--title-font);
}

body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page_container{
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

a{
    text-decoration: none;
}

    #cards_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
    }