#header {
    width: 100%;

    #logo {
        display: none;
        font-size: var(--h1-size);
        width: 100%;
        text-align: center;
        text-shadow: 0 3px 3px rgba(37, 86, 64, 0.50)
    }

    #nav_container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;



        #favicon {
            width: 60px;
            height: 60px;
        }

        #navbar {
            display: none;

            ul {
                display: flex;
                list-style: none;
                gap: 30px;

                li {
                    a {
                        text-decoration: none;
                        font-size: var(--p1-size);
                        transition: color .2s ease;

                        &:hover {
                            color: var(--interaction-light-color);
                        }
                    }
                }
            }
        }

        #cart_burger_container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        #cart {
            width: 25px;
            height: 25px;
            transition: transform .2s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }

        #burger_container {
            cursor: pointer;
            height: 25px;
        }

        #burger {
            position: relative;

            &::before,
            &::after {
                position: absolute;
            }

            &::before,
            &::after,
            & {
                content: "";
                width: 40px;
                height: 5px;
                background-color: var(--secondary-color);
                cursor: pointer;
                border-radius: 10px;
            }

            &::before {
                bottom: -20px;
            }

            &::after {
                bottom: -10px;
            }
        }

    }

}

@media (min-width:600px) {
    #header {
        #logo {
            display: block;
            margin-bottom: 20px;
        }

        #nav_container {
            #favicon {
                opacity: 0;
                width: 25px;
                height: 25px;
            }

            #navbar {
                display: block;
            }

            #cart_burger_container{
                gap: 0;
                #burger{
                    display: none;
                }
            }

        }
        #navbar_mobile{
            display: none;
        }
    }
}