#header {
    width: 100%;

    #logo {
        display: none;
        font-size: var(--h1-size);
        width: 100%;
        text-align: center;
        text-shadow: 0 3px 3px rgba(37, 86, 64, 0.50)
    }

    #nav_container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;



        #favicon {
            width: 60px;
            height: 60px;
        }

        #navbar {
            display: none;

            ul {
                display: flex;
                list-style: none;
                gap: 30px;

                li {
                    a {
                        text-decoration: none;
                        font-size: var(--p1-size);
                        transition: color .2s ease;

                        &:hover {
                            color: var(--interaction-light-color);
                        }
                    }
                }
            }
        }

        #cart_burger_container {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        #cart {
            width: 25px;
            height: 25px;
            transition: transform .2s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        #burger_container {
            cursor: pointer;
            height: 40px;
            height: 30px;
            display: flex;
            align-items: center;
            position: relative;

        }

        /* LE BURGER - 3 barres */
        #burger {
            position: relative;
            width: 40px;
            height: 5px;
            background-color: var(--secondary-color);
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            
        }

         /* Barre du haut */
            #burger::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 5px;
                background-color: var(--secondary-color);
                border-radius: 10px;
                top: -12px;
                transition: all 0.3s ease-in-out;
            }

            /* Barre du bas */
            #burger::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 5px;
                background-color: var(--secondary-color);
                border-radius: 10px;
                top: 12px;
                transition: all 0.3s ease-in-out;
            }
        

        /*Transformation en croix*/
        #burger_container.active #burger {
            background-color: transparent; /* Cache la barre du milieu */
        }

        #burger_container.active #burger::before{
          top: 0;
          transform:rotate(45deg);
        }

        #burger_container.active #burger::after{
          top: 0;
          transform: rotate(-45deg);
        }     

    }

    /*Contenu du menu mobile*/
    #navbar_mobile{
      position: fixed;
      top: 60px;
      right: -100%;
      width: 70%;
      height: 100vh;
      background-color: var(--cta-color);
      z-index:999;
      padding-top: 100px;
      transition: right 0.3s ease-in-out;

      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li{
          margin: 0;

          a{
            margin-left: 20px;
            font-size: var(--p1-size);
            color: var(--primary-color);

            &:hover{
                color: var(--interaction-dark-color);
            }
          }
        }
      }
              
    } 
    
    /*Menu ouvert*/
    #navbar_mobile.nav_open{
      right: 0;
    }  

}




@media (min-width:600px) {
    #header {
        #logo {
            display: block;
            margin-bottom: 20px;
        }

        #nav_container {
            #favicon {
                opacity: 0;
                width: 25px;
                height: 25px;
            }

            #navbar {
                display: block;
            }

            #cart_burger_container {
                gap: 0;

                #burger {
                    display: none;
                }
            }

        }

        #navbar_mobile {
            display: none;
        }
    }
}