#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    #banner{
        background-image: url(../asssets/banner.jpg);
        height: 200px;
        width: 100%;
    }

    h2{
        margin-bottom: 40px;
        align-self: center;
    }

    h3{
        margin-left: 20px;
    }

    #cards_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
    }
}